<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.howard.shiro.mapper.SysPermissionsMapper">
	
	<resultMap id="BaseResultMap" type="com.howard.shiro.vo.SysPermissions" >
		<!-- 主键 -->
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="permission" property="permission" jdbcType="VARCHAR" />
	    <result column="description" property="description" jdbcType="VARCHAR" />
	    <result column="available" property="available" jdbcType="BIT" />
		 <!--<result column="deleted" property="deleted" jdbcType="BIT" /> -->
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
			`id`,`permission`,`description`,`available`
		]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<!-- xxx 为java对象属性,必须有setter方法, 指定useGeneratedKeys和keyProperty后，自动增长的字段值会自动赋值给此对象 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO `sys_permissions` (
				`permission`,`description`
			) VALUES (
				#{permission, jdbcType=VARCHAR} ,
				#{description, jdbcType=VARCHAR} ,
		    )
	    ]]>
	</insert>
	
	<select id="getAllPermissionsByRoles" resultMap="BaseResultMap">
	    SELECT  <include refid="columns" />
	    FROM `sys_permissions` a,`sys_roles_permissions` b
	    where a.`id` = b.`permission_id` and b.`role_id` = #{id}
		<!--  <include refid="findWhere" />  -->
		<!-- <include refid="findWhereUseClass" />  -->
		<!-- where username = #{user.username} -->
  	</select>
  	
  	<select id="getAll" resultMap="BaseResultMap">
	    SELECT <include refid="columns" />
	    FROM `sys_permissions`;
	   
		<!--  <include refid="findWhere" />  -->
		<!-- <include refid="findWhereUseClass" />  -->
		<!-- where username = #{user.username} -->
  	</select>
</mapper>