<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.howard.shiro.mapper.SysRoleMapper">
	
	<resultMap id="BaseResultMap" type="com.howard.shiro.vo.SysRoles" >
		<!-- 主键 -->
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="role" property="role" jdbcType="VARCHAR" />
	    <result column="description" property="description" jdbcType="VARCHAR" />
	    <result column="available" property="available" jdbcType="BIT" />
		 <!--<result column="deleted" property="deleted" jdbcType="BIT" /> -->
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
			`id`,`role`,`description`,`available`
		]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<!-- xxx 为java对象属性,必须有setter方法, 指定useGeneratedKeys和keyProperty后，自动增长的字段值会自动赋值给此对象 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO `sys_roles` (
				`role`,`description`
			) VALUES (
				#{role, jdbcType=VARCHAR} ,
				#{description, jdbcType=VARCHAR} ,
		    )
	    ]]>
	</insert>
	
	<select id="getRoleByUserId" resultMap="BaseResultMap">
	    SELECT  a.`id`,`role`,`description`,`available`
	    FROM `sys_roles` a,`sys_users_roles` b,`sys_users` c
	    where a.`id` = b.`role_id` and b.`user_id` = c.`id` and c.`username` = #{name}
		<!--  <include refid="findWhere" />  -->
		<!-- <include refid="findWhereUseClass" />  -->
		<!-- where username = #{user.username} -->
  	</select>
  	
  	<select id="getAll" resultMap="BaseResultMap">
	    SELECT <include refid="columns" />
	    FROM `sys_roles`;
	   
		<!--  <include refid="findWhere" />  -->
		<!-- <include refid="findWhereUseClass" />  -->
		<!-- where username = #{user.username} -->
  	</select>
</mapper>